/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #0c132a, #11345e);
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos de la barra de navegación */
.navbar {
    background: linear-gradient(45deg, #11345e, #0c132a);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
}

.navbar-brand p {
    color: #bbb;
    font-size: 14px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #3498db;
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #3498db;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header {
    padding: 80px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    text-align: left;
}

header img {
    border-radius: 50%;
    max-width: 275px;
    border: 4px solid #3498db;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
    background-color: #1e4679;
}

/* Estilos de las secciones restantes */
section {
    padding: 50px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3498db;
}

section p {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    width: 48%;
    margin-bottom: 20px;
}

.skill p {
    margin-bottom: 5px;
}

.bar {
    height: 10px;
    background-color: #3498db;
}

.barc {
    height: 10px;
    background-color: #0b4972;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.project-content {
    flex: 1; 
}

.project img {
    max-width: 250px;
    border-radius: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-item img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    height: 30px;
    margin-right: 10px;
}

.contact-item a {
    font-size: 18px;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-item a:hover {
    color: #1e4679;
}

.project-content a {
    font-size: 18px;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.project-content a:hover {
    color: #1e4679;
}

.contact-item p {
    font-size: 18px;
    color: #bbb;
    margin: 0;
}

.imgp {
    max-width: 50px;
    max-height: 100px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer img {
    height: 35px;
    margin-left: 5px;
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del pulgar */
}

::-webkit-scrollbar-track {
    background-color: #0b4972; /* Color de la pista de la barra de desplazamiento */
}

@media (max-width: 920px) {
    .navbar-brand {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        background: linear-gradient(45deg, #11345e, #0c132a);
        padding: 15px 20px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand a {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .navbar-brand .view-button {
        margin-bottom: 0; /* Para eliminar el margen inferior del último botón */
    }

    .nav-links {
        display: none; /* Oculta el menú completo en pantallas pequeñas */
    }

    /*******************************/
    .header-content {
        flex-direction: column; /* Cambia a dirección columna para apilar elementos */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .header-info {
        text-align: center; /* Centra el texto */
        margin-bottom: 20px; /* Espaciado inferior */
    }

    .header-info h1 {
        font-size: 24px; /* Tamaño del nombre */
        margin-bottom: 5px; /* Espaciado inferior del nombre */
    }

    .header-info p {
        font-size: 14px; /* Tamaño del texto */
        color: #bbb; /* Color del texto */
        margin-bottom: 10px; /* Espaciado inferior del texto */
    }

    .navbar-brand {
        flex-direction: column; /* Alinea los botones verticalmente */
        align-items: center; /* Centra los botones */
        margin-bottom: 20px; /* Espaciado inferior de los botones */
    }

    .navbar-brand .download-button,
    .navbar-brand .view-button {
        width: 100%; /* Ancho completo */
        margin-bottom: 10px; /* Espaciado inferior entre botones */
    }

    header img {
        max-width: 50%; /* Imagen responsiva */
        border-radius: 50%; /* Borde redondeado */
        border: 4px solid #3498db; /* Borde y color */
    }

    section {
        padding-left: 20px; /* Añade margen izquierdo */
        padding-right: 20px; /* Añade margen derecho */
    }


    /*****************************/
    .project {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        align-items: center; /* Centra los elementos horizontalmente */
        text-align: center; /* Centra el texto dentro del contenedor */
        margin-bottom: 40px;
    }
    
    .project-content {
        flex: 1; /* Aprovecha todo el espacio disponible */
        margin-bottom: 20px; /* Espacio entre los proyectos */
    }
    
    .project img {
        max-width: 250px;
        border-radius: 5px;
        margin-bottom: 10px; /* Espacio adicional bajo la imagen */
    }
    
    .project hr {
        width: 100%;
        margin-top: 20px; /* Espacio superior al hr */
        margin-bottom: 20px; /* Espacio inferior al hr */
    }
}
